# STA 130 Lab 11: Logistic Regression
*Your Name Here*

## Objective
The purpose of the lab is to explore logistic regression in R.

## Lab Procedures
In this lab you will be working with a dataset from the The World Meteorological Organization which contains data about people affected by the 2017 Hurricane Irma. The goal in this lab is to use logistic regression to model the probability that an individual survives a hurricane. Take some time to review the supplemental material provided in class about logistic regression as well as the description of data provided within this project.

In [2]:
import pandas as pd
import statsmodels.api as stats

__1__ Explore the data. Use the `describe` method to gain an understanding of your data. Write 2 to 3 observations about the data. Are NA values prevalent in the data? Explain why this may or may not be an issue later on.

In [4]:
irma_df = pd.read_csv("hurricane_irma_survival.csv")
irma_df.head(5)

,ID,DOB,M_STATUS,SALARY,EDU_DATA,EMP_DATA,REL_ORIEN,FAV_TV,PREF_CAR,GENDER,...,FAV_COLR,NEWS_SOURCE,DIST_FRM_COAST,MNTLY_TRAVEL,GEN_MOVIES,FAV_SUBJ,ALCOHOL,FAV_SUPERHERO,Dist_Coast,Class
0,3345.0,7/22/1964,Married,0-100K,Post-Graduate,Unemployed,Believer,How I Met your mother,Ford,Male,...,Green,New York Times,10-25 KM,250-500 KM,Comedy,Art,Gin,The hulk,462.0,y
1,3346.0,9/9/1981,Unmarried,300k-500k,High-School,Employed,Believer,Big Bang Theory,Daimler-Benz,Male,...,Orange,Associated Press,60-80 KM,500-1000 KM,Thriller,Maths,Non Drinkers,Thor,269.0,y
2,3347.0,5/8/1978,Married,100k-300k,High-School,Employed,Believer,Flash,Suzuki,Male,...,White,Fox News,10-25 KM,0-250 KM,Horror,Chemistry,Rum,spiderman,1308.0,x
3,3348.0,6/21/1978,Unmarried,300k-500k,Graduate,Employed,Agnostic,Friends,Audi,Male,...,Green,BBC,0-10 KM,0-250 KM,Romantic,English,wine,Ironman,1039.0,y
4,3349.0,12/14/1968,Unmarried,500k-700k,High-School,Unemployed,Agnostic,Prison Break,BMW,Male,...,Black,Fox News,10-25 KM,0-250 KM,Thriller,Biology,Vodka,Thor,272.0,y

In [5]:
irma_df.describe()

                ID   Dist_Coast
count  5020.000000  5020.000000
mean   5854.500000   762.785259
std    1449.293506   423.648520
min    3345.000000    40.000000
25%    4599.750000   392.000000
50%    5854.500000   756.500000
75%    7109.250000  1127.000000
max    8364.000000  1500.000000

__2__ Create a dummy variable called SWIM which has a value of one if the individual's favorite sport is Swimming. Create another dummy variable called SURVIVE which has a value of 1 if the individual will survive the hurricane and otherwise has a value of 0 (Hint: Look at the data dictionary to figure out how to determine whether someone will survive). Based on the summary of data you created in the previous step, are there any additional dummy variables you think may be useful? If so, go ahead and create them here.

__3__ Visualize. Does the dummy variable SWIM seem to be related to survival? Visualize this relationship using `matplotlib` or `seaborn`. Consider creating a jitter plot. Jitter plots make it easier to visualize discrete variables as they will add slight variation so all points are visible. To draw conclusions for this graph, look for a difference in density of points. If SWIM equals 1, are the points more densely concentrated around SURVIVE = 1 or SURVIVE = 0?

__4__ Model. Build a logistic regression model called `glm1` using SURVIVE as the response and SWIM as the predictor. The function we use for logistic regression takes the following form: `logistic = stats.glm(response, predictor, data = dataframe, family = 'binomial')`. In this function, glm stands for generalized linear model. The option setting family equal to binomial indicates that the response is binary (Poisson is another option here in which the response would be count data). Run a `summary()` on the logistic model you just created. Does SWIM appear to be a significant predictor at the $\alpha=.05$ level? How about the $\alpha=.01$ level?

In [ ]:
stats.GLM()

__5__ Write one to two sentences interpreting the coefficient for SWIM. Recall that logistic regression uses the logit function. The function for the above model is $logit(p) = \log(p/(1-p)) = \beta_0 + \beta_1 SWIM$. To interpret the coefficient here, take the exponential of the coefficient ($\exp(\beta_1)$). If this is greater than 1, it indicates an increase in probability, numbers less than 1 indicate a decrease. For further explanation, see the resources.

__6__ Create a confusion matrix on the model. What percentage of observations did the model correctly classify? Do you think this model does a good job? Why or why not?

__7__ Now, we will try adding an additional predictor to the model. Plot the relationship between NEWS_SOURCE and SURVIVE.  Are there any values of NEWS_SOURCE you think may be important when trying to predict survival?

__8__ Model. Build another logistic regression model called glm2 using SURVIVE as the response and both SWIM and NEWS_SOURCE as predictors. The function we use for logistic regression takes the following form: `logistic = stats.glm(response, predictor1 + predictor2, data = dataframe, family = 'binomial')`. Run a `summary()` on the logistic model you just created. How many new coefficients were added to the model by incorporating NEWS_SOURCE? How many of these appear to be significant at the $\alpha = .05$ level? Did the coefficient for SWIM change after adding NEWS_SOURCE to the model?

__9__ With categorical variables like NEWS_SOURCE, coefficients indicate a higher or lower probability of survival in relation to a "base" category. This category is the one that is not represented with a coefficient. Which value of NEWS_SOURCE is the base category in this model? Write one to two sentences interpreting 2 or 3 of the NEWS_SOURCE coefficients.

__10__ Create a confusion matrix for the new model. What percentage of observations did the model correctly classify? Does this model appear to do a better job at identifying individuals who survived?

__11__ Use your findings in this lab to write a recommendation to the World Meteorological Organization. Are there any additional variables you think WMO should consider collecting for future analyses? Would you consider this to be a good model? Why or why not?